name: cunygc.appliedtopology.nyc build and deploy

on:
  workflow_dispatch:
  push:
    branches: main

runs-on: ubuntu-latest

jobs:
  build-deploy:
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Quarto
        uses: quarto-dev/quarto-actions/render@v2
        with:
          to: html

      - name: Publish
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -P -rzv --delete
          path: _site
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}

